body{
    background-color: #9370DB;
}

h1{
    color: #4B0082;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 18px;
}

img{
    width: 80%;
    text-align: center;
}

header{
    
}